body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif , sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}
/* =======================================
   Header-Bereich
   ======================================= */
header {
    background-color: #333;
    color: #ffc107;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header h1 {
    margin: 0;
    font-size: 1.8em;
    text-shadow: 1px 1px 2px #000; /* Schwarze Umrandung */
}
header h1 a {
    text-decoration: none;
    color: #FFC107;
}
header h1 a:hover {
    color: #ffffff;
}
/* =======================================
   Navigation
   ======================================= */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav ul li {
    display: inline;
    padding: 10px 15px;
}
nav ul li a {
    color: #FFC107; /* Taxi-Gelb */
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #ffffff;
}
/* =======================================
   Allgemeine Abschnitte (Sections)
   ======================================= */
section {
    padding: 20px;
    margin: 20px;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/* =======================================
   Facebook section 
   ======================================= */
section#facebook-group h2 {
    font-size: 16px; 
    font-weight: normal;
    text-align: center;
    border-radius: 20px;
    color: #ffffff; 
    margin-bottom: 20px;
}
/* =======================================
   Facebook-Button
   ======================================= */
.facebook-button {
    display: inline-block;
    background-color: #1877F2; /*Facebook Blau */
    color: #FFFFFF; /* Weiß */
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 120px;
    border: 2px solid #1877F2;
    transition: background-color 0.5s, color 0.5s;
}
.facebook-button:hover {
    background-color: #000000; /* Weiß beim Hover */
    color: #1877F2; /* Blau beim Hover */
    border: 3px solid #1877F2;
}
.fb-icon {
    margin-right: px;
}
/* =======================================
   Footer-Bereich
   ======================================= */
footer {
    background-color: #333; /* Gleich wie Header */
    color: #FFD700; /* Taxi-Gelb */
    text-align: center;
    padding: 10px 0;
    text-shadow: 1px 1px 2px #000; /* Schwarze Umrandung */
}
